<!DOCTYPE html>
<html>
<head>
	<title>postCard!</title>
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
	<div class = "container">
		<% include partials/alerts %>
		<%- body %>
		<hr>
		<div class = "row">
			<div class = "col-12">
				<a href = "/" class = "btn btn-info">Home</a>
				<% if(!currentUser) {%>
				<a href = "/auth/login" class = "btn btn-primary">Login</a>
				<a href = "/auth/signup" class = "btn btn-success">Sign Up</a>
				<% } else { %>
				<a href = "/auth/logout" class = "btn btn-warning"><%=currentUser.name%>, Do you wanna log out?x</a>
				<a href = "/profile" class = "btn btn-danger">Profile</a>
				<% } %>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="/scripts/app.js"></script>
</body>
</html>
