
<div id = "welcomeback">Hello <%= currentUser.name %> ! </div>
<br>
<br>
<br>
<br>

	<div class = "row">
		<div class = "col-s6">
			<a class="waves-effect waves-light btn-large" id = "postcard" href = "profile/createcard">Send a Post Card</a>
		</div>
	<div class = "row">
		<div class = "col-s6">
			<a class="waves-effect waves-light btn-large" id = "addressbook" href = "profile/addressbook">Address Book</a>
   </div>
</div>


