<h1> PROFILE PAGE </h1>
<h2> Hello, welcome back, <%= currentUser.name %> ! </h2>
<a class="waves-effect waves-light btn-large">Send a Post Card</a>
<a class="waves-effect waves-light btn-large">Address Book</a>
