h1 {
	font-family: 'Bowlby One SC', cursive;
	font-family: 'Roboto Slab', serif;
	text-align: center;
	font-size: 80px;
	font-weight: bold;
}
h3 {
	text-align: center;
	font-family: 'Bowlby One SC', cursive;
	font-family: 'Roboto Slab', serif;
	font-size: 30px;
}
#homebody {
	background-image: url('/images/pictures.jpeg');
	background-size: 100%;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.nav-center {
	text-align: center;
	width: 100%;
	position: fixed;
	overflow: hidden;
	float: left;
	bottom: 50px;
}
.footer {
	bottom: 0;
	text-align: center;
	width: 100%;
	position: absolute;
	height: 30px;
	font-family: 'Bowlby One SC', cursive;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	background-color: #CBBEB5;
	color: white;
}

.nav_container {
	display: flex;
}
/* #logInButton, #profileButton, #signUpButton, #logOutButton, #homeButton, #logMeInButton, #signupbutton {
	background-color: #CBBEB5!important;

#logInButton, #profileButton, #signUpButton, #logOutButton, #homeButton, #logMeInButton, #signupbutton {
	background-color: #b0e0e6!important;

	color: white;
	font-family: 'Bowlby One SC', cursive;
	font-family: 'Roboto Slab', serif;
}
#loginHeader, #signupHeader, #welcomeback {
	font-size: 50px;
	font-family: 'Bowlby One SC', cursive;
	font-family: 'Roboto Slab', serif;
	text-align: center;
	font-weight: bold;
}
#postcard, #addressbook {
	background-color: #b0e0e6!important;
	text-align: center;
	display: block;

	background-color: #b0e0e6;
	color: white!important;
	border-radius: 5px;

} */
